<footer>
  <div class="footer">
    <div class="div-1">
      <img src="images/favicon.svg" alt="Logo" height="145" class="logo" />

      <p class="description">
        Electricistas calificados con varios años de experiencia en la
        industria, capaces de manejar una amplia gama de proyectos y
        reparaciones eléctricas. Conocedores de normas de seguridad,
        comprometidos con la entrega de un trabajo de calidad.
      </p>
    </div>

    <div class="navegation">
      <h3 class="title">Useful Links</h3>

      <nav>
        <a href="#">Inicio</a>
        <a href="#">Sobre nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">FAQ</a>
        <a href="#">Contactos</a>
      </nav>
    </div>

    <div class="social-media">
      <a
        href="https://www.facebook.com/profile.php?id=61556652903051"
        class="item"
        style="--bp: -8px -8.85px"
      >
        <span class="sr-only">Facebook</span>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=604982792"
        class="item"
        style="--bp: -59px -8.85px"
      >
        <span class="sr-only">Whatsapp</span>
      </a>

      <a href="#" class="item" style="--bp: -59px -57px">
        <span class="sr-only">Instagram</span>
      </a>
    </div>
  </div>
</footer>
