<header class="header">
  <div class="wrapper">
    <div class="logo">
      <img
        src="images/cropped-ELECTROCOPPER-logo-web_page-0001-1.jpg"
        alt=""
        height="48"
      />
    </div>

    <div class="navegation">
      <button
        id="button-toggle-menu"
        type="button"
        aria-label="Mostrar menú"
        data-status="close"
        class="button"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="open"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 6l16 0" />
          <path d="M4 12l16 0" />
          <path d="M4 18l16 0" />
        </svg>

        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="close"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </button>

      <nav id="nav-menu" class="menu">
        <a href="" class="item">Inicio</a>
        <a href="sobre-nosotros" class="item">Sobre nosotros</a>
        <a href="servicios" class="item">Servicios</a>
        <a href="faq" class="item">FAQ</a>
        <a href="contactos" class="item">Contactos</a>
      </nav>
    </div>

    <div class="contact">
      <a
        href="https://api.whatsapp.com/send?phone=604982792"
        class="button"
        style="--bp: -59px -8.85px"
      >
        <span class="sr-only">Whatsapp</span>
      </a>
    </div>
  </div>
</header>

<aside id="sidebar-menu" class="sidebar">
  <ul class="menu">
    <li class="item">
      <a href="">Inicio</a>
    </li>
    <li class="item">
      <a href="sobre-nosotros">Sobre nosotros</a>
    </li>
    <li class="item">
      <a href="servicios">Servicios</a>
    </li>
    <li class="item">
      <a href="faq">FAQ</a>
    </li>
    <li class="item">
      <a href="contactos">Contactos</a>
    </li>
  </ul>
</aside>

<div id="backdrop" class="backdrop"></div>
