#budget .wrapper-content {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .wrapper-description,
  .wrapper-stepper {
    flex: 1 1 320px;
  }

  .wrapper-description {
    .title,
    .subtitle,
    .paragraph {
      margin-bottom: 16px;
    }

    .title {
      font-size: clamp(1.5rem, 6vw, 2.5rem);
      font-weight: 800;
    }

    .subtitle {
      font-size: clamp(1rem, 4vw, 1.5rem);
      font-weight: 500;
    }

    .paragraph,
    .paragraph strong {
      font-size: clamp(0.8rem, 2vw, 1rem);
    }
  }

  .wrapper-stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;

    .steps {
      display: flex;
      justify-content: center;
      column-gap: 32px;
      margin-top: 1rem;

      .step {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.9rem;
        border: 1px solid var(--gray);
        background-color: var(--white);
        transition: all 0.3s ease-in-out;
      }

      .step.active {
        color: var(--white);
        background-color: var(--gray);
        transform: scale(1.2);
      }

      .step::after {
        content: "";
        position: absolute;
        display: block;
        width: 32px;
        height: 1px;
        background-color: var(--gray);
        top: 50%;
        left: 100%;
      }

      .step:last-child::after {
        display: none;
      }
    }

    .contents {
      width: 100%;

      .content {
        display: none;
      }

      .content > div {
        padding: 12px;
      }

      .content.active {
        display: block;
      }

      .question {
        font-size: 1.1rem;
      }

      .answer {
        margin-top: 16px;
      }

      .answer span {
        font-size: 0.9rem;
      }

      .actions {
        display: flex;
        column-gap: 8px;
        margin-top: 16px;
      }

      .button {
        background-color: var(--gray);
        color: var(--white);
        min-width: 100px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        padding-block: 8px;
      }

      .form {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }

      .form .input,
      .form .textarea {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid var(--gray);
      }

      .form .textarea {
        resize: vertical;
      }
    }
  }
}
