#footer {
  --txt-color: #bbb;

  background-color: var(--black);

  li + li {
    margin-top: 12px;
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 12px;
    color: var(--primary);
    text-align: center;
  }

  .wrapper-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 50px 8px;
    row-gap: 40px;
    max-width: 1024px;
    margin-inline: auto;
  }

  .d-1,
  .d-2,
  .d-3 {
    flex: 1 0 200px;
  }

  .wrapper-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      height: 100px;
      filter: drop-shadow(0 0 20px var(--primary));
      margin-bottom: 24px;
    }

    .description {
      text-align: center;
    }

    .description,
    .description strong {
      color: var(--txt-color);
      text-wrap: pretty;
      font-size: 0.85rem;
      line-height: 1.4;
    }
  }

  .wrapper-social-networks {
    margin-top: 20px;

    .list-social-networks {
      display: flex;
      justify-content: center;
      column-gap: 8px;

      li + li {
        margin-top: 0;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--primary);
      }

      .icon {
        height: 24px;
        width: 24px;
        stroke-width: 1.75;
      }
    }

    .social-media {
      justify-content: center;
      column-gap: 16px;
    }

    .social-media .item {
      width: 40px;
      height: 40px;
      background-size: 95px;
    }
  }

  .wrapper-contact .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: flex;
      column-gap: 8px;
    }

    a > span {
      color: var(--txt-color);
      font-size: 0.85rem;
    }

    .icon {
      color: var(--primary);
    }
  }
}

#footer-menu {
  text-align: center;

  .item-text {
    color: var(--txt-color);
    font-size: 0.85rem;
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }
}

@media (width > 640px) {
  #footer .wrapper-contact .contact-list {
    align-items: start;
  }
}
