#hero .wrapper-content {
  min-height: 500px;
  padding: 20px 12px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--gray);
    margin-bottom: 16px;
    text-wrap: balance;
  }

  .title:first-child {
    line-height: 1.1;
    font-size: 2.25rem;
  }

  .description {
    margin-block: 50px;
    color: var(--gray);
  }

  .wrapper-image {
    min-width: 290px;
  }

  .image {
    width: 100%;
    scale: 0.85;
    filter: drop-shadow(0 0 20px var(--primary));
  }

  .contact {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    height: 48px;
    padding-inline: 16px;
    border-radius: 14px;
    box-shadow: 0 0 25px #02d195;
    font-weight: bold;
    color: #02d195;
  }
}

@media (width >= 720px) {
  #hero > .wrapper-content {
    flex-direction: row;
    text-align: start;

    .title {
      font-size: 1.75rem;
    }

    .title:first-child {
      font-size: 2.5rem;
    }

    .image {
      scale: 0.95;
    }
  }
}

@media (width >= 1024px) {
  #hero > .wrapper-content {
    max-width: 1024px;
    margin-inline: auto;

    .title:first-child {
      font-size: 3rem;
    }
  }
}
