@import url("./services.css");

#our-services {
  max-width: 1024px;
  margin-inline: auto;
  text-align: center;
  padding-inline: 12px;

  .sub-title {
    font-size: 1.35rem;
    font-weight: normal;
    color: var(--gray);
    margin-bottom: 16px;
  }

  .title {
    font-size: 2.25rem;
    line-height: 1.1;
  }

  .paragraph {
    margin-block: 16px;
    color: var(--gray);
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    padding: 12px 20px;
    background: var(--black);
    color: var(--white);
    font-weight: bold;
  }
}
