#clients {
  max-width: 1024px;
  margin-inline: auto;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}
