.s-1 iframe {
  width: 100%;
  height: 480px;
  border: none;
}

.s-2 {
  background-color: var(--white);

  & > div {
    max-width: 1200px;
    padding-block: 50px;
    padding-inline: 12px;
    margin-inline: auto;
    text-align: center;
  }

  .title {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  .social-media {
    margin-top: 8px;
    display: flex;
    justify-content: center;
  }

  strong {
    color: var(--black);
  }

  span {
    display: block;
    color: var(--black);
  }

  li + li {
    margin-top: 14px;
  }

  li:last-child {
    margin-top: 40px;
  }
}

.s-1,
.s-2 {
  max-width: 1024px;
  margin-inline: auto;
}

@media (width >= 400px) {
  .s-2 span {
    display: inline;
  }
}

@media (width >= 600px) {
  .s-2 {
    padding-inline: 20px;
  }
}
