.header {
  position: sticky;
  z-index: 90;
  top: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);

  .wrapper {
    height: 64px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
  }

  .logo,
  .contact {
    flex: 1 0 0;
  }

  .navegation {
    #button-toggle-menu {
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      color: var(--white);
      background-color: var(--gray);
      border-radius: 12px;

      &[data-status="close"] {
        .close {
          display: none;
        }
      }

      &[data-status="open"] {
        .open {
          display: none;
        }
      }
    }

    .button:hover {
      background-color: var(--black);
    }

    .menu {
      display: none;

      a {
        color: var(--white);
        font-size: 1rem;
      }
    }
  }

  .contact {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 80;
  width: 280px;
  background-color: var(--white);

  color: var(--black);
  padding: 16px;
  padding-top: calc(64px + 12px);

  .menu {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .item + .item {
      margin-top: 8px;
    }

    a {
      display: flex;
      align-items: end;
      font-weight: 600;
      height: 40px;
      padding-left: 8px;
      padding-bottom: 8px;
      border-radius: 12px;
    }
  }
}

.header .menu,
.sidebar .menu {
  .item::after {
    content: "";
    display: block;
    height: 0.1px;
    width: 0%;
    background-color: var(--black);
    transition: width 0.3s ease-in-out;
  }

  .item:hover::after,
  .item.active::after {
    width: 100%;
  }
}

.backdrop {
  background-color: #121418bf;

  position: fixed;
  inset: 0;
  z-index: 75;
}

.sidebar,
.backdrop {
  transform: translateX(-100%);
  transition: transform 0.15s ease-in-out;

  &.open {
    transform: translateX(0);
  }
}

@media (width >= 768px) {
  #button-toggle-menu,
  .sidebar,
  .backdrop {
    display: none;
  }

  #nav-menu {
    display: flex;

    a {
      font-weight: 600;
      padding: 10px;
      color: var(--black);
    }
  }

  .header .contact {
    display: inline-flex;
    justify-content: end;

    .button {
      float: right;
      padding: 4px;
      border-radius: 12px;
      width: 48px;
      height: 48px;
      background-image: url("../../images/redes-sociales.png");
      background-size: 115px;
      background-repeat: no-repeat;
      background-position: var(--bp);
    }
  }
}
