@import url("../../styles/global.css");
@import url("./header.css");
@import url("./table.css");

.main {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 64px;
  padding: 12px;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .title {
    font-size: 1.5rem;
  }

  .button {
    background-color: var(--gray);
    color: var(--white);
    padding: 8px;
    border-radius: 12px;
  }
}

.form-modal {
  padding: 20px;
  border-radius: 12px;

  .title {
    font-size: 1.25rem;
  }

  .form {
    padding-block: 12px;

    > * + * {
      margin-top: 8px;
    }

    input[type="file"] {
      margin-top: 4px;
    }

    input,
    textarea {
      outline: none;
      padding: 8px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--gray);
    }

    input:focus,
    textarea:focus {
      outline: 1px solid var(--black);
    }

    textarea {
      resize: none;
      field-sizing: content;
      max-height: 120px;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 200px;
        height: 100%;
        object-fit: contain;
      }
    }

    .d-1,
    .actions {
      display: flex;
      justify-content: center;
    }

    .button {
      flex: 1 0 0;
      height: 40px;
      justify-content: center;
      align-items: center;
      padding-inline: 8px;
      background-color: var(--black);
      color: var(--white);
      border-radius: 12px;
      line-height: 1.2;
    }

    .cancel {
      background-color: var(--white);
      color: var(--black);
    }
  }
}

.form-modal.delete {
  max-width: 440px;
  width: 95%;

  > * + * {
    margin-top: 32px;
  }

  .form {
    padding: 0px;
  }

  .description {
    font-weight: bold;
    color: #f60e0e;
    text-align: center;
  }

  .d-1 {
    margin-block: 0;
  }

  .button.delete {
    background-color: #ef4444;
    color: #fef2f2;
  }
}

.alert {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-inline: 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  height: 40px;

  &.error {
    background-color: #ef4444;
    color: #fef2f2;
  }

  &.success {
    background-color: #02d195;
    color: #053829;
  }

  .description {
    font-size: 0.9rem;
  }

  .icon {
    cursor: pointer;
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50%;
  }
}
