@import url("../../styles/global.css");
@import url("./header.css");
@import url("./table.css");
@import url("./form.css");

.main {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 64px;
  padding: 12px;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .title {
    font-size: 1.5rem;
  }

  .button {
    background-color: var(--gray);
    color: var(--white);
    padding: 8px;
    border-radius: 12px;
  }
}

.alert {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-inline: 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  height: 40px;

  &.error {
    background-color: #ef4444;
    color: #fef2f2;
  }

  &.success {
    background-color: #02d195;
    color: #053829;
  }

  .description {
    font-size: 0.9rem;
  }

  .icon {
    cursor: pointer;
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50%;
  }
}
