.wrapper-header {
  flex-wrap: wrap;
  gap: 12px;

  .alert {
    margin-bottom: 0;
  }

  .form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .input {
      flex: 1 1 0;
      border: 1px solid var(--gray);
    }

    .actions {
      display: flex;
      column-gap: 8px;
    }

    .input,
    .button {
      height: 40px;
      padding-inline: 12px;
      border-radius: 8px;
    }

    .button {
      font-size: 0.9rem;
      font-weight: 500;
      align-items: center;
    }
  }
}
