.wrapper-table {
  padding-inline: 10px;
  margin-inline: -10px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px;
  }

  .t-row {
    border-bottom: 1px solid var(--gray);
  }

  .t-head th {
    padding: 12px;
    background-color: var(--black);
    color: var(--white);
  }

  .t-head .actions {
    min-width: 110px;
  }

  .t-body .actions {
    display: flex;
    justify-content: center;
    column-gap: 4px;
  }

  .update,
  .delete {
    color: var(--white);
    padding: 8px;
    border-radius: 12px;
  }

  .update {
    background-color: #facc15;
    color: #422006;
  }

  .delete {
    background-color: #ef4444;
    color: #fef2f2;
  }
}
