#sobre-nosotros {
  max-width: 768px;
  margin-inline: auto;

  .title {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}

.about-us-1,
.about-us-3 {
  padding: 50px 12px;
  text-align: center;

  .description {
    color: var(--white);
  }
}

.about-us-1 {
  padding-top: 0px;
}

.about-us-2 {
  padding: 12px;

  .tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .tab button {
    color: var(--white);
    height: 40px;
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    float: left;
    font-size: 1.1rem;
    padding-inline: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
  }

  .tab button.active {
    background-color: var(--black);
    color: var(--white);
  }

  .tabcontent {
    background-color: var(--black);
    color: var(--white);
    text-align: start;
    display: none;
    padding: 20px;
    border-radius: 10px;
  }

  .tabcontent p {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}

.about-us-3 {
  .title {
    text-align: start;
  }

  p {
    text-align: start;
    color: var(--white);
  }

  ol {
    list-style-type: auto;
    padding-left: 32px;
  }

  li + li {
    margin-top: 8px;
  }

  li::marker {
    color: var(--primary);
    font-weight: bold;
  }
}

@media (width >= 1024px) {
  .about-us-1 .div {
    display: flex;

    & > div {
      flex: 1 0 0;
    }

    .accolades {
      margin-bottom: 0;
      margin-left: 12px;

      img {
        width: 120px;
      }
    }
  }
}
