@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 75%;
  }
}

#reseñas {
  max-width: 768px;
  margin-inline: auto;
  padding: 16px;

  .title {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  .error {
    display: none;
    width: fit-content;
    color: #fef2f2;
    background-color: #ef4444;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-block: 10px 30px;
    row-gap: 4px;
  }

  .wrapper {
    width: 100%;
  }

  .group-input {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }

  .input {
    height: 40px;
  }

  .input:last-child {
    max-width: 100px;
  }

  .textarea {
    resize: none;
    field-sizing: content;
    min-height: 40px;
  }

  .input,
  .textarea {
    color: var(--white);
    background-color: rgb(255, 255, 255, 0.1);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    width: 100%;

    &::placeholder {
      color: var(--white);
    }
  }

  .button {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding-inline: 12px;
    border-radius: 8px;
    background: var(--primary);
  }

  .review-item + .review-item {
    margin-top: 12px;
  }

  .review-item {
    padding: 1px;
    border-radius: 12px;
    overflow: hidden;
    background-image: linear-gradient(
      55deg,
      var(--secondary),
      var(--primary) 45%,
      var(--secondary) 55%
    );
    background-size: 200% auto;
    animation: 10s gradient linear infinite;
  }

  .review {
    background-color: var(--black);
    padding: 20px 16px;
    border-radius: 12px;
  }

  .d-1 {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .username {
    color: var(--white);
    text-transform: uppercase;
  }

  .date {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  .description {
    color: var(--white);
    font-size: 0.9rem;
  }
}

@media (width >= 480px) {
  .reviews .form {
    flex-direction: row;
    align-items: start;
    column-gap: 8px;
  }
}
