.services {
  padding: 12px;
  max-width: 1024px;
  margin-inline: auto;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 12px;
  }

  li {
    width: 100%;
    margin-inline: auto;
  }

  .service {
    display: block;
    background-color: var(--white);
    border: 1px solid var(--black);
    position: relative;
    margin-inline: auto;
    max-width: 400px;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 40px;

    .image {
      display: block;
      position: relative;
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      object-position: center;
    }

    .service-name {
      width: 100%;
      position: absolute;
      font-weight: normal;
      padding: 12px;
      color: var(--white);
      background-color: var(--black);
      bottom: 0;
      font-weight: bold;
    }
  }
}
